body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9DC08B;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 60px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #40513B;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #40513B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #9DC08B;
}

main {
    padding: 20px;
}

section {
    background-color: #0f0f0f;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #7e807e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Additional styles for the new "Prices" section */
#pricesSection {
    display: none;
}

#priceTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#priceTable th, #priceTable td {
    border: 1px solid #cdf5a7;
    padding: 8px;
    text-align: center;
}

#priceTable th {
    background-color: #101812;
    font-weight: bold;
}

/* Responsive styles for different screen sizes */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    input, select {
        padding: 5px;
    }
}

