/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
}

/* Header Styles */
header {
	background-color: #CAF0F8;
	display: flex;
	align-items: center;
	padding: 20px;
}

.logo video {
	height: 5rem;
	width: 5rem;
}

nav {
	margin-left: auto;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	color: #3300ff;
	background-color: #CAF0F8;
	padding: 10px;
	border-radius: 5px;
}

nav ul ul {
	display: none;
	position: absolute;
	background-color: #CAF0F8;
	color: #000000;
	padding: 10px;
}

nav ul li:hover > ul {
	display: block;
}

nav li {
	display: inline;
	margin-right: 10px;
}

/* Heading Styles */
.Heading{
    text-align: center;
    font-size: 55px;
    color: white;
    background-color: #0077b6;
    font-style: italic;
}

/* Confirmation Page Styles */
.confirmation-message {
  color: blue;
  font-style: italic;
}

/* Summary Table Styles */
#summary h2 {
  margin-top: 20px;
  font-size: 35px;
}

#summary table {
  font-size: 20px;
  border-collapse: collapse;
  width: 100%;
}

#summary th,
#summary td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  background-color: #9DC08B;
}

#summary th {
  background-color: #010101;
  background-color: #9DC08B;
}

/* Footer Styles */
footer {
  background-color: #0077b6;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.footernav {
  margin-top: 20px;
}

.footernav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footernav li {
  margin: 0 10px;
}

.footernav a {
  color: white;
  text-decoration: none;
}

.footernav a:hover {
  text-decoration: underline;
}

footer {
	background-color: #9DC08B;
	color: #fff;
	text-align: center;
	padding: 20px 0;
  margin-top: 20px;
  }
  
  footer p {
	font-size: 14px;
  }
